
<md-content >
    <h3 style="text-align: center">Welcome to ShoppingPad</h3>
    <div style="margin-top: 156px">
    </div>
    <div>
        <md-toolbar class="Rectangle-409" style="background-color: #9013fe;">
            <div class="md-toolbar-tools">

                <p style="text-align: center">Login or Register to continue</p>

                <md-button class="SIGNIN" aria-label="SIGNIN" ng-click="signin()" style="background-color:blue;">
                    SIGNIN
                </md-button>

                <span flex=""></span>
                <md-button class="REGISTER" aria-label="Favorite" ng-click="registerin()" style="background-color:green;">
                    REGISTER
                </md-button>
            </div>
        </md-toolbar>
    </div>
</md-content>

